@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar width adjustment */
/* x-admin-sidebar {
    width: 16rem; 
  } */
  
  /* .main-content {
    margin-left: 16rem; 
  } */
  

/* Custom CSS */
/* table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td img {
    max-width: 100px;
    height: auto;
}

#createStudent {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

/* form */
/* General styles */
/* 
h3 {
    color: #2c3e50;
    margin-bottom: 20px;
} */

/* Form styles */
/* form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}


form div {
    margin-bottom: 20px;
} */

/* Link styles */
/* .bagianluar a {
    display: inline-block;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.bagianluar a:hover {
    color: #2980b9;
} */